* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
  margin-top: 0px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
p {
  line-height: 1.4;
}
@media (min-width: 501px) {
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 501px) {
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px ;
    background-color: #F1F1F1;
    padding-bottom: 5px;
  }
  nav h1 {
    margin-top: 0px;
    margin-bottom: 2px;
  }
  nav div:last-child {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    border: 1px ;
    background-color: #F1F1F1;
    padding-bottom: 5px;
    text-align: center;
  }
  nav h1 {
    margin-top: 0px;
    margin-bottom: 2px;
  }
  nav div:last-child {
    display: flex;
    justify-content: space-between;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
}
