@media (min-width: 501px) {
  main {
    padding: 0 50px;
  }
  main .space-images {
    display: flex;
    justify-content: space-between;
  }
  main .space-images img {
    width: 30%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
  }
  main .walk {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  main .walk div.walk-text,
  main .walk div.walk-img {
    width: 47%;
  }
  main .walk div.walk-text p,
  main .walk div.walk-img p {
    font-size: 80%;
  }
  main .walk div.walk-text .btn,
  main .walk div.walk-img .btn {
    background-color: #22283a;
    color: whitesmoke;
    width: 100px;
    padding: 1%;
    text-align: center;
    border-radius: 7px;
  }
  main .walk img {
    width: 47%;
    height: 100%;
    object-fit: contain;
    border-radius: 7px;
  }
}
@media (max-width: 500px) {
  .space-images img.blast {
    width: 100%;
    height: 70%;
    object-fit: contain;
    border-radius: 10px;
  }
  .space-images img.sky {
    display: none;
  }
  .space-images img.launch {
    display: none;
  }
  section.walk {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
  }
  section.walk div {
    width: 100%;
  }
  section.walk img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 7px;
  }
}
